<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
	<h1 style="color: brown;">Codeathon Todo Application</h1>
		<h1>Create New Todo</h1>
	    <form th:action="@{/create_todo}" method="post">
		    
	        <label for="description"style="font-weight: bold; color: blue;">Description:</label>
	        <input type="text" name="description" required style="width: 170px; padding: 5px;">
	
	        <label for="dueDate"style="font-weight: bold; color: blue;">Due Date:</label>
	        <input type="date" name="dueDate" required style="width: 170px; padding: 5px;">
	
	        <label for="priorityLevels"style="font-weight: bold; color: blue;">Priority Levels:</label>
	        <input type="text" name="priorityLevels" required style="width: 170px; padding: 5px;">
	
	        <label for="taskCategories"style="font-weight: bold; color: blue;">Task Categories:</label>
	        <input type="text" name="taskCategories" required style="width: 170px; padding: 5px;">
	
	        <label for="remainders"style="font-weight: bold; color: blue;">Remainders:</label>
	        <input type="text" name="remainders" required style="width: 170px; padding: 5px;">

	        <button type="submit" style="background-color: mediumseagreen; color: white; border: none; cursor: pointer; padding: 6px 16px; font-size: 16px;">Submit</button>
	     </form>
	     <h2 th:text="${message}" style="color: mediumseagreen;"></h2>  
    <table>
        <thead>
            <tr>
                <th>Todo ID</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority Levels</th>
                <th>Task Categories</th>
                <th>Remainders</th>
                <th>Update Todo</th>
                <th>Delete Todo</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todoDTO}">
                <td th:text="${todo.todoId}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo.dueDate}"></td>
                <td th:text="${todo.priorityLevels}"></td>
                <td th:text="${todo.taskCategories}"></td>
                 <td th:text="${todo.remainders}"></td>
                <td>
                  <a th:href="@{/update(todoId=${todo.todoId})}">update</a>
                </td>
                <td>
                  <a th:href="@{/delete_todo(id=${todo.todoId})}" onclick="return confirm('Are you sure you want to delete this todo?')">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
