<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo List</title>
    <style>
        table {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority Levels</th>
                <th>Task Categories</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="todo : ${todoDTO}">
                <td th:text="${todo.id}"></td>
                <td th:text="${todo.userName}"></td>
                <td th:text="${todo.description}"></td>
                <td th:text="${todo.dueDate}"></td>
                <td th:text="${todo.priorityLevels}"></td>
                <td th:text="${todo.taskCategories}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
